@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'News Cycle', sans-serif;
  color: #333;
}
p {
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
}

h1, h2 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-size: 26px;
}

/******** SIDEBAR **********/
nav {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 2;
  padding-bottom: 10px;
}

.top-bar {
  background-color: #e9e9e9;
}

.top-bar .name-top a {
  color: #333;
}

.top-bar .options a {
  color: #333;
}

.nav-container {
  position: relative;
  width: 80%;
  margin: 10px auto;
  height: auto;
  text-transform: uppercase;
}

.name-top {
  font-size: 30px;
  font-weight: 700;
  width: 30%;
  float: left;
  color: #fff;
}

.name-top a {
  color: #fff;
}

.name-top a:hover {
  color: #17317b;
}

.options {
  width: 70%;
  text-align: right;
  float: left;
  padding-top: 6px;
  color: #fff;
}

.options a {
  color: #fff;
  padding: 20px 15px;
}

.options a:hover {
  color: #17317b;
}

#pull {
  display: none;
}

/******** CONTENT **********/
.content-wrap {
  position: relative;
  width: 1200px;
  height: auto;
  overflow: auto;
  margin: auto;
  padding: 80px 0;
  box-sizing: border-box;
}

.top {
  position: fixed;
  width: 100%;
  height: 800px;
  height: 100vh;
  background-image: url('../images/sapa2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name-box {
  position: relative;
  width: 100%;
  height: 800px;
  height: 100vh;
  background-color: rgba(23,49,122,0.3);
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 80%;
  text-align: center;
  padding: 0 20px;
}

.name h1 {
  font-size: 80px;
  font-weight: 700;
  display: inline;
}

.text-cursor {
  font-size: 80px;
  display: inline;
  -webkit-animation: pulsate 1s;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: opacity: 0.0;}
}

/*ABOUT*/
#about {
  background-color: #fff;
  width: 100%;
  position: relative;
  overflow: auto;
  border-bottom: 1px solid #e9e9e9;
}

.about-box {
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}

.description {
  display: block;
  overflow: auto;
  clear: both;
}

.picture {
  position: relative;
  width: 25%;
  height: auto;
  float: right;
  clear: bottom;
}

.picture img {
  width: 100%;
  height: auto;
  padding: 5px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.picture img:hover {
  border: 2px solid #17317b;
}

.about-me {
  position: relative;
  width: 75%;
  float: left;
  padding-right: 80px;
  margin-bottom: 20px;
  box-sizing: border-box;
  clear: bottom;
}

.social {
  display: block;
}

.social a {
  padding: 20px 15px 20px 0;
}

/*WORK*/
#work {
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  overflow: auto;
}

.work-box {
  position: relative;
  float: left;
  width: 31.31%;
  margin: 0 1% 30px;
  height: auto;
  text-align: center;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.work-box h3 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
}

.work-box p {
  margin-bottom: 15px;
}

.work-box img {
  width: 100%;
  height: auto;
}

.details-work {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(233,233,233,1);
  border: 2px solid #ddd;
  text-align: center;
  box-sizing: border-box;

}
.info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.info-box p {
  font-size: 1.2em;
  color: #696969;
}

.info-box a {
  font-size: 0.7em;
  font-weight: bold;
  color: #696969;
  border: 1px solid #696969;
  padding: 8px 10px;
}

.work-box:hover .details-work {
  opacity: 1;
}

/*CONTACT*/
#contact {
  position: relative;
  overflow: auto;
  background-color: #fff;
  background-image: url("../images/brickwall2.png");
  width: 100%;
  text-align: center;
}

#contact form {
  padding: 0 80px;
}

#contact .social {
  display: inline-block;
  margin-top: 15px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 10px 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
}

input:focus, textarea:focus {
  border: 1px solid #b4b4b4;
}

textarea {
  height: 100px;
}
button {
  cursor: pointer;
  font-size: 18px;
  background-color: #727272;
  padding: 10px 40px;
  color: #fff;
}

button:hover {
  background-color: #17317b;
}

button:focus {
  background-color: #fff;
  color: #333;
  outline: none;
}

/*FOOTER*/
footer {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding: 8px 0;
}

footer p {
  font-size: 14px;
  font-weight: 700;

}

/******** MEDIA QUERIES **********/

@media (max-width: 1220px) {

  .nav-container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .content-wrap {
    width: 100%;
    padding: 80px 40px;
  }

  .about-me {
    padding-right: 0;
    width: 100%;
  }

  .picture {
    float: none;
    width: 40%;
    margin: 0 auto 40px;
  }

  .social {
    text-align: center;
  }

  .work-box {
    width: 48%;
  }

}

@media (max-width: 700px) {
  
  #pull {
    display: block;
    cursor: pointer;
    float: right;
    width: 10%;
    margin: 1px 10px 0 0;
  }

  #pull img {
    right: 10px;
  }

  nav {
    padding-bottom: 0;
  }

  .name-top {
    font-size: 24px;
    margin-top: -2px;
    width: 80%;
  }

  .options {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #e9e9e9;
  } 
  .options a {
    display: block;
    color: #333;
  }

}

@media (max-width: 600px) {

  .content-wrap {
    padding: 40px;
  }

  h1, h2 {
    margin-bottom: 40px;
  }

  .name h1 {
    font-size: 40px;
  }

  .text-cursor {
    font-size: 40px;
    margin-left: 0;
  }

  .picture {
    width: 60%;
  }

  .work-box {
    width: 100%;
  }

  #contact form {
    padding: 0;
  }  

}

@media (max-width: 400px) {

  .content-wrap {
    padding: 0 15px 40px;
  }

  h1, h2 {
    padding-top: 60px;
    margin-bottom: 60px;
  }

  .picture {
    width: 100%;
    margin: 0 auto 20px;
  }  

}