@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #696969;
}
a:hover {
  color: #1aba4d;
}
a>h1:hover {
   color: #1aba4d;
}
p {
  text-align: center;
  font-size: 1em;
}
h1, h2, h3 {
  text-align: center;
  font-size: 2em;
  color: #696969;
  padding-bottom: 5%;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  text-decoration: none;
}

/******** SIDEBAR **********/
nav {
  position: fixed;
  display: block;
  margin-left: 0px;
  margin-top: 0px;
  height: 100%;
  min-width: 15%;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 1;
}
#name-top {
  text-align: right;
  margin-right: 15%;
  display: block;
  position: relative;
  font-size: 2.8em;
  line-height: 1.2em;
  font-weight: 300;
}
#options {
  text-align: right;
  margin-right: 15%;
  padding-top: 50%;
  font-size: 1.2em;
  display: block;
  position: relative;
}
#nav-icon {
  display: none;
}

/******** CONTENT **********/
main {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.content {
  height: 100%;
  padding-bottom: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  position: relative;
  width: 85%;
  float: right;
}
#top {
  display: block;
  position: relative;
  background-image: url("images/top.jpg");
  background-size: cover;
  width: 100%;
  height: 450px;
}
#name-mobile {
  display: none;
}

/*ABOUT*/
#about {
  background-color: #F5F5F5;
  width: 100%;
  position: relative;
  overflow: auto;
}
#about-img {
  position: relative;
  width: 25%;
  margin-right: 5%;
  float: right;
  clear: bottom;
  height: 100%;
}
#about-img img {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}
#about-me {
  position: relative;
  width: 60%;
  float: left;
  margin-left: 5%;
  margin-left: 5%;
}
#about-me p {
  margin-top: 0px;
  font-size: 1em;
  text-align: justify;
}
#about-tech {
  position: relative;
  display: block;
  width: 90%;
  float: left;
  margin: 10px 5% 0 5%;
}
#about-tech p {
  text-align: left;
}
.social {
  padding-right: 15px;
}

/*WORK*/
#work {
  background-color: #FFFFFF;
  max-width: 100%;
  position: relative;
  overflow: auto;
  padding-bottom: 5%;
}
.content-work {
  position: relative;
  height: 100%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 75%;
  margin-left: 20%;
  margin-right: 5%;
  float: left;
}
.work-box {
  display: inline-block;
  position: relative;
  width: 32%;
  margin-left: 1%;
  margin-bottom: 5%;
  height: auto;
}
.work-box img {
  width: 100%;
  height: auto;
}
.details-work p {
  font-size: 1.2em;
  color: #696969;
}
.details-work a {
  font-size: 0.7em;
  font-weight: bold;
  color: #696969;
  border: 2px solid #696969;
  padding: 8px 10px;
}
.details-work {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F5F5F5;
}
.work-box:hover .details-work {
  opacity: 1;
}

/*CONTACT*/
#contact {
  position: relative;
  overflow: auto;
  background-image: url("images/whirlpool.png");
  width: 100%;
}
#contact-form {
  margin: 0 10%;
}
input, textarea, button {
  font-family: 'Source Sans Pro', sans-serif;
  color: #696969;
  font-size: 1em;
  width: 100%;
  height: 40px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  outline: none;
  box-shadow: 2px 2px 5px #ccc;
  padding-left: 6px;
}
textarea {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100px;
  padding-top: 6px;
}
button[type="submit"] {
  cursor: pointer;
  width: 100px;
  background-color: #ffffff;
}

/******** MEDIA QUERIES **********/

@media (max-width: 1075px) {
  #name-top {
    font-size: 2.5em;
  }
  #options {
    font-size: 1.5em;
  }
  .work-box {
    width: 48%;
  }
}

@media (max-width: 780px) {
  #name-top {
    font-size: 1.4em;
  }
  #options {
    font-size: 1em;
  }
  #about-img {
    width: 100%;
    float: left;
  }
  #about-img img {
    width: 60%;
    margin-left: 20%; 
  }
  #about-me, #about-tech {
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: 30px;
  }
  #about-tech {
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: 10px;
  }
  #work {
    width: 100%;
  }
}

@media (max-width: 680px) {
  nav {
    width: 100%;
    position: absolute;
    height: 0;
    opacity: 1;
  }
  #name-top {
    display: none;
  }
  #options {
    display: none;
    position: relative;
    height: auto;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
  }
  #options a {
    color: #696969;
  }
  #options a:hover {
    color: #1aba4d;
  }
  #options ul {
    padding: 0;
    margin: 0;
  }
  #options ul li {
    font-size: 1.2em;
    padding: 15px 0 0 0;
  }
  #options ul li:last-child {
    padding-bottom: 15px;
  }
  #nav-icon {
    display: inline;
  }
  #pull {
    display: block;
    position: fixed;
    float: right;
    clear: bottom;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
  }
  #pull img {
    width: 40px;
    margin-left: 5px;
    margin-top: 5px;
  }
  #top {
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
  }
  #name-mobile {
    display: block;
    position: absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
  #name-mobile h2 {
    line-height: 0.5;
    color: #555;
  }
  #name-mobile p {
    color: #555;
    line-height: 0.3;
    font-size: 1.4em;
    padding: 0 5px;
  }
  .content {
    width: 100%;
  }
  .content-work {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  #work {
    width: 100%;
  }
  .work-box {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
  }
  .details-work p {
    font-size: 1em;
  }
  .social {
    margin-bottom: 20px;
  }
}
